<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Input Pertamina</title>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    
</head>
<body>
    <div th:fragment="content" ng-controller="PertaminaFormController">
        <div class="container">
            <div class="col-md-10 well-large">
                <h3 style="text-align: center;">FORM INPUT HARGA PERTAMINA</h3>
                <!-- <hr/> -->

                <form class="form-horizontal" name="formEdit">    
                    <fieldset>
                        <legend>Form Harga</legend>
                        <ul>
                            <div class="form-group" ng-class="{error: formEdit.tgl.$invalid}">
                                <label class="control-label col-sm-3" for="tgl">Tanggal Berlaku &nbsp; :</label>
                                <div class="col-sm-3"> 
                                    <div class="input-group">
                                        <input type="text" class="form-control" name="tgl" placeholder="dd-mm-yyyy" uib-datepicker-popup="dd-MM-yyyy" 
                                               ng-model="pertamina.tgl" is-open="statusTgl.opened" datepicker-options="dateOptions" ng-required="true" 
                                               close-text="Close" ui-validate="{tglAvailable: 'istglAvailable($value)', tglCek: 'isTglCek($value)'}" 
                                               ui-validate-watch="{tglAvailable: 'hslcek'}" ng-model-options="{ debounce: 500 }" /> 
                                        <div class="input-group-btn">
                                            <a class="btn btn-info input-sm" ng-click="openTgl($event)"><span class="glyphicon glyphicon-calendar"></span></a>
                                        </div>
                                    </div>
                                </div>
                                <span ng-show="formEdit.tgl.$error.required" class="help-block col-sm-2">Harus diisi</span>
                                <span ng-show="formEdit.tgl.$error.tglAvailable" class="help-block col-sm-6">Tanggal Sudah Ada, Masukkan Tanggal yang Lain..</span>  
                                <span ng-show="formEdit.tgl.$error.tglCek" class="help-block col-sm-4">Masukkan Tanggal 01 atau 15</span>  
                            </div>
                            <div class="form-group">
                                <label class="control-label col-sm-3" for="tglakhir">Tanggal Akhir &nbsp; : </label>
                                <div class="col-sm-3"> 
                                    <div class="input-group">
                                        <input type="text" class="form-control" readonly="true" name="tglakhir" uib-datepicker-popup="dd-MM-yyyy" ng-model="pertamina.tglakhir" 
                                               datepicker-options="dateOptions"/> 
                                    </div>
                                </div>
                            </div>
                            <div class="form-group" ng-class="{error: formEdit.kditem.$invalid}">
                                <label class="control-label col-sm-3" for="harga">Kode Item &nbsp; : </label>
                                <div class="col-sm-3">                
                                    <div class="input-group">
                                        <input class="form-control text-uppercase" type="text" name="kditem" placeholder="Kode Item" ng-model="kditem" 
                                               ng-keyup="KeyCek($event)" ng-required="true"/>
                                        <div class="input-group-btn">
                                            <a class="btn btn-info" ng-click="BrowseItem()">F2</a>
                                        </div>
                                    </div>    
                                </div>
                                <span ng-show="formEdit.kditem.$error.required" class="help-block col-sm-2">Harus diisi</span>
                                <span ng-show="kodeAvailable" class="help-block col-sm-5">Kode ITEM Tidak Ada, Masukkan Kode yang Lain..</span>  
                                <span ng-show="nmitem" class="help-block col-sm-6">{{nmitem}}</span>
                            </div>    
                            <div class="form-group" ng-class="{error: formEdit.harga.$invalid}">
                                <label class="control-label col-sm-3" for="harga">Harga &nbsp; : </label>
                                <div class="col-sm-2">                     
                                    <input class="form-control"  type="text" name="harga" placeholder="Harga" ng-model="pertamina.harga" ng-keypress="filterValue($event)" ng-required="true"/>
                                </div>
                                <span ng-show="formEdit.harga.$error.required" class="help-block col-sm-2">Harus diisi</span>
                            </div>
                            <div class="form-group" ng-class="{error: formEdit.iditem.$invalid}">
                                <input type="text" name="iditem" ng-model="pertamina.iditem" required="true" hidden="true"/>
                                <span ng-show="formEdit.iditem.$error.required" class="help-block col-sm-2"></span>
                            </div>
                        </ul>
                    </fieldset>
                    <div class="form-group">     
                        <div class="col-sm-offset-2 col-sm-10">
                            <a data-toggle="modal" class="btn btn-primary" ng-disabled="formEdit.$invalid" data-target="#dialogSimpan">Simpan</a>
                            <button type="button" class="btn btn-default"  data-dismiss="modal" ng-click="clear()">Batal</button>
                            <a class="btn btn-primary" ng-href="/sipp/master/pertamina_list">Kembali ke List</a>
                        </div>
                    </div>    
                </form>    
            </div>    
        </div> 

        <div class="modal fade" id="dialogSimpan" data-backdrop="static" data-keyboard="true" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">     
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"> x</button>
                        <h3>   Konfirmasi</h3>
                    </div>
                    <div class="modal-body">
                        <div style="font-size:18px"> 
                            <span class="glyphicon glyphicon-warning-sign" style="font-size:30px;" aria-hidden="true"></span>
                            <span class="sr-only">Error:</span>
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Benar Data Harga Pertamina akan di Simpan...?
                        </div>
                        
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Tidak</button>
                        <button type="submit" class="btn btn-primary" ng-click="simpanPertamina()"> Ya Simpan </button>
                    </div>
                </div>
            </div>    
        </div>
        
        <div class="modal" id="dialogItem" data-backdrop="static" data-keyboard="true" role="dialog" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">     
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"> x</button>
                        <h3>   List ITEM</h3>
                    </div>
                    <div class="modal-body">
                            <div class="col-sm-6">
                                <div class="input-group">
                                    <div class="input-group-btn">
                                        <span class="btn btn-default"><i class="glyphicon glyphicon-search"></i></span>
                                    </div>    
                                    <input type="text" class="form-control" ng-model="searchText" placeholder="Pencarian..."/>
                                </div>    
                            </div>
                            <table class="table table-striped table-bordered table-condensed" style="font-size: 14px;" >
                                <thead>
                                    <tr>
                                        <th class="text-center" style="width: 75%">Nama Item</th>
                                        <th class="text-center" style="width: 13%">Kode Item</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="item in dataItem.content | orderBy:'-item':'false'|  filter:searchText ">
                                        <td>{{item.nmitem}}</td>
                                        <td class="text-center">
                                            {{item.kditem}}&nbsp;&nbsp;<input type="radio" name="optitem" ng-click="selectItem(item)"/>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                    </div>
                    <div class="modal-footer">
                        <a class="btn btn-default" data-dismiss="modal">Tutup</a>
                        <a class="btn btn-primary" ng-click="selectItemOk()"> OK </a>
                    </div>
                </div>
            </div>    
        </div>
    </div>    
    
</body>
</html>
